<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.coppereye.lighttoggle</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0B40A86B-393E-4D87-A34B-D5987021BA34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22740AC0-9EFC-4F5D-A0F4-AD339B1B7A8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>66437C5A-F8F3-497F-9E76-988245D0C1BB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>445FDEA8-2592-4726-93DD-6A0420EB5A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22740AC0-9EFC-4F5D-A0F4-AD339B1B7A8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AAC3FAC-40F7-44BC-A451-E13F84838779</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>445FDEA8-2592-4726-93DD-6A0420EB5A39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFD45E13-88A5-4107-9C6F-CC56B319E709</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AC22E44-3D2A-4008-81C6-C0DABE14D634</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B40A86B-393E-4D87-A34B-D5987021BA34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>768A7107-8D82-4039-BF8D-8931860C1CDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F03B3CAB-B64B-4E95-9537-5B8D3DAEAC7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EF0667A-FC1D-4399-9B0E-0E43F6A9DB98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E96839A-3C29-41B2-9DAF-004F26F1EBC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF40B6BC-43C7-47A9-9C11-32B168E4EFFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>768A7107-8D82-4039-BF8D-8931860C1CDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>858CA9A0-8B56-4159-A969-CD1293A0E4B8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EF0667A-FC1D-4399-9B0E-0E43F6A9DB98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F564E105-77F7-4246-8822-8275E8E24660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF40B6BC-43C7-47A9-9C11-32B168E4EFFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dom Robson-Tull</string>
	<key>description</key>
	<string>A keyword toggle to turn MacOS keyboard backlight or screen brightness on/off.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Light Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application id "com.runningwithcrayons.Alfred"
    set configuration "kb_state" to value "off" in workflow (system attribute "alfred_workflow_bundleid")
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F03B3CAB-B64B-4E95-9537-5B8D3DAEAC7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>repeat_number</key>
					<integer>16</integer>
					<key>target_key</key>
					<string>keyboard-brightness-down</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.top-row.keyboard-brightness</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>768A7107-8D82-4039-BF8D-8931860C1CDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:lightkeyword}</string>
				<key>subtext</key>
				<string>Turn on/off</string>
				<key>text</key>
				<string>Backlight</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F564E105-77F7-4246-8822-8275E8E24660</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:kb_state}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>on</string>
						<key>outputlabel</key>
						<string>Off</string>
						<key>uid</key>
						<string>858CA9A0-8B56-4159-A969-CD1293A0E4B8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>On</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DF40B6BC-43C7-47A9-9C11-32B168E4EFFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>repeat_number</key>
					<integer>2</integer>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.top-row.keyboard-brightness</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7EF0667A-FC1D-4399-9B0E-0E43F6A9DB98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application id "com.runningwithcrayons.Alfred"
    set configuration "kb_state" to value "on" in workflow (system attribute "alfred_workflow_bundleid")
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9E96839A-3C29-41B2-9DAF-004F26F1EBC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application id "com.runningwithcrayons.Alfred"
    set configuration "br_state" to value "off" in workflow (system attribute "alfred_workflow_bundleid")
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5AAC3FAC-40F7-44BC-A451-E13F84838779</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>repeat_number</key>
					<integer>16</integer>
					<key>target_key</key>
					<string>screen-brightness-down</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.top-row.screen-brightness</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>22740AC0-9EFC-4F5D-A0F4-AD339B1B7A8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:brightkeyword}</string>
				<key>subtext</key>
				<string>On/Off</string>
				<key>text</key>
				<string>Screen Light</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4AC22E44-3D2A-4008-81C6-C0DABE14D634</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:br_state}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>on</string>
						<key>outputlabel</key>
						<string>Off</string>
						<key>uid</key>
						<string>66437C5A-F8F3-497F-9E76-988245D0C1BB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>On</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0B40A86B-393E-4D87-A34B-D5987021BA34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>repeat_number</key>
					<integer>8</integer>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.top-row.screen-brightness</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>445FDEA8-2592-4726-93DD-6A0420EB5A39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application id "com.runningwithcrayons.Alfred"
    set configuration "br_state" to value "on" in workflow (system attribute "alfred_workflow_bundleid")
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DFD45E13-88A5-4107-9C6F-CC56B319E709</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple workflow to toggle on/off your Mac keyboard backlight or your Mac screen on/off using a keyword. Please note, for first run you can try typing the 'backlight' or 'brightness' keyword twice to synchronize the state. 

### Usage

	- 'brightness' to toggle screen brightness on/off.
	- 'backlight' to toggle keyboard backlight on/off.

To adjust brightness values, please edit using the slider within the automation tasks. It is recommended to leave the 'off' loops intact as it is designed to completely switch off in either case. The automations that can should be configured are highlighted green.</string>
	<key>uidata</key>
	<dict>
		<key>0B40A86B-393E-4D87-A34B-D5987021BA34</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>22740AC0-9EFC-4F5D-A0F4-AD339B1B7A8E</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>445FDEA8-2592-4726-93DD-6A0420EB5A39</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>4AC22E44-3D2A-4008-81C6-C0DABE14D634</key>
		<dict>
			<key>note</key>
			<string>Default automation setting +8/-16</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>5AAC3FAC-40F7-44BC-A451-E13F84838779</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>768A7107-8D82-4039-BF8D-8931860C1CDE</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>7EF0667A-FC1D-4399-9B0E-0E43F6A9DB98</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>9E96839A-3C29-41B2-9DAF-004F26F1EBC2</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>DF40B6BC-43C7-47A9-9C11-32B168E4EFFB</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>DFD45E13-88A5-4107-9C6F-CC56B319E709</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>F03B3CAB-B64B-4E95-9537-5B8D3DAEAC7D</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F564E105-77F7-4246-8822-8275E8E24660</key>
		<dict>
			<key>note</key>
			<string>Default automation settings +2/-16</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>backlight</string>
				<key>placeholder</key>
				<string>backlight</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword to trigger backlight on/off.</string>
			<key>label</key>
			<string>Backlight Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>lightkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>brightness</string>
				<key>placeholder</key>
				<string>brightness</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword to trigger brightness on/off</string>
			<key>label</key>
			<string>Brightness Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>brightkeyword</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>br_state</key>
		<string>on</string>
		<key>kb_state</key>
		<string>off</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>br_state</string>
		<string>kb_state</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>domrt.com</string>
</dict>
</plist>
